html{font-family: Helvetica;}
h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
#brushes h2{
  color: White;
  font-size: 32px;
  background-color: mediumspringgreen;
}
#frames h2{
  color: White;
  font-size: 32px;
  background-color: lightcoral;
}
#paint h2{
  color: White;
  font-size: 32px;
  background-color: skyblue;
}
#price{font-weight: bold;
  color: blue;
}
